@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');



#header{
    width: 100%;
    background-color: black;
    margin: auto;
    height: 10vh;
    border-bottom: 8px solid red;

}

#about1{
    width: 100%;
    background-color: black;
    margin: auto;
    height: 10vh;
    border-bottom: 8px solid red;
}

#contact1{
    width: 100%;
    background-color: black;
    margin: auto;
    height: 10vh;
    border-bottom: 8px solid red;
}

#about2{
    color: red;
}

#about3{
    color: white;
    font-weight: 700;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 4rem;
}

#contact2{
    color: red;
}

#contact3{
    color: white;
    font-weight: 700;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 4rem;
}

#main2{
    background-image:linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.6)), url(banner.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    height: 90vh;

}

#container{
    color: white;
    font-weight: 700;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 4rem;
}


#span1{
    color: red;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}


#ul1{
    list-style: none;
    column-gap: 30px;
    color: rgb(241, 243, 243);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#ul1 a{
    color: white;
    text-decoration: none;
    font-size: x-large;
}

#div2{
    color: white;
    padding-top: 150px;
}

#div3{
    font-size: 85px;
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

#div4{
    font-size: 55px;
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
