/*! margin ve padding ile */

/* .container{
    margin-left: 200px;
    padding: 10px;
}

img{
    margin-bottom: -80px;
    margin-left: 350px;
} */

/*! position ile */

/* .container{
    position: relative;
}

.box{
    position: absolute;
    top: 50px;
    left: 50%;
    transform: translate(-50%);
    
}

.logo{
    position: absolute;
    display: inline-block;
    background-color: #DC6C5E;
    top: 1px;
    left: 50%;
    transform: translate(-50%);
    border-radius: 50%;
    z-index: 1;
} */

/*! flex ile yapılması */

/* .container {
  display: flex;
  flex-direction: column;
  margin: 100px;
  padding: 1px;
  border: 1px solid red;
  align-items: center;
}

img {
  margin-bottom: -80px;
  border: 1px solid red;
  z-index: 1;
  border-radius: 50%;
} */

/*! float ile yapılması */

/* img{
    float: left;
    margin-left: 430px;
    margin-top: 50px;
}

.box{
    margin: 100px;
} */
