*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.incele{
    display: flex;
}
.box2{
    width: 100%;
    background-image: url(./image/sampiyonlarLigi.jpeg);
    background-size: cover;
}
