@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;600&display=swap');

:root{
    --main-color: #e84242; /* değişken gibi tanımlandı */
    --black-color: #0e0e0e;
    --border:0.1rem solid rgba(255, 255, 255, 0.4);
}

/* base html codes */
html {
    font-size: 62.5%;
    /* böyle yaparak 16 px olan 1 rem 10 px eşitlendi */
    overflow-x: hidden;
    /* sayfanın sağ/sol scrol yapmaması için kapattım */
    scroll-padding-top: 9rem;
    scroll-behavior: smooth;
}

body{
    background-color: var(--main-color); /*yukarıda tanımlanan ren kullnıldı */
    /* height: 200vh; sayfa scroll yapsın diye ilk başta, koyup sonra sildi */
}

section{
    padding: 3.5rem 7%; /* bütün sectionları aynı hizaya aldı. */
}

.btn{
    margin-top:1rem ;
    display: inline-block;
    padding: 2rem 3.75rem;
    border-radius: 30rem;
    font-size: 1.7rem;
    color: #fff;
    background-color: #0e0e0e;

}

* {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
    text-decoration: none;
    text-transform: capitalize;
    transition: 0.2s ease;  /* menü geçişi */

}


/* header start */
.logo img{
    height: 10rem;
}

.header{
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 7%;
    margin: 2rem 7%;
    border-radius: 30rem; /* kenarını yuvarlamak için */
    box-shadow: 0px 0px 17px -2px rgba(0, 0, 0, 0.75);
    position: sticky; /* sayfa scrol edince header sabir kalması için */
    top: 0; /* sayfa scrol edince header sabir kalması için */
    z-index: 1000; /* header hep önde kalsın */

}

.header .navbar a{ /* içindeki bütün a etiketleri yani menü başlıkları*/
margin: 0 1rem; 
font-size: 1.6rem;
color: var(--black-color);
border-bottom: 0.1rem solid transparent; /* altlarına çizgi şeffaf */
/* border-bottom: 0.1rem solid var(--main-color); sabit çizgi*/
}
.header .navbar .active,
.header .navbar a:hover{ /* hover yapmak için */
    border-color: var(--main-color);
    padding-bottom: 0.5rem;

}

.header .buttons button{
    cursor: pointer; /* üzerine gelince el şeklinde olsun */
    font-size: 2.5rem; /* büyütme */
    margin-left: 2rem; /* arasını açma*/
    background-color: transparent; /* ikonlarda hafif bir gri renk var, kaybolması için */
}

/* header end */

/* home start */
.home{
    min-height: 100vh; /* tarayıca görünen yer kadar alanı kapla */
    background: url(./images/home.jpg) no-repeat; /*resmi ekledi  */
    background-size: cover; /* 100vh alanı kaplayacak */
    background-position: center; /* ortaladı */
    margin-top: -145px; /* resmi headerın altına attı */
    display: flex;
    align-items: center;


}
.home .content{
    max-width: 60rem;
}

.home .content h3{
   font-size: 6rem;
   color: white;

}

.home .content p{
   font-size: 2rem;
   font-weight: 300;
   line-height: 1.8;
   padding: 1rem 0;
   color: #ccc;

}

/* home end */

/* menü start */

.menu .box-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
    /* fotoğrafları yanyana alabilmek için kullandı*/
    gap: 1.5rem; /* aralarına boşluk koydu */
}

.menu .box-container .box {
    padding: 3rem;
    background-color: #fff;
    border-radius: 3rem;
    min-height: 60rem;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;

}

.menu .box-container .box img{
    width: 100%;
    object-fit: cover;
}

.menu .box-container .box .menu-category{
   font-size: 1.2rem;
}
.menu .box-container .box h3{
   font-size: 3rem;
   padding: 0;
}
.menu .box-container .box .price{
   font-size: 2.5rem;
   padding: 0.5rem 0;
}
.menu .box-container .box .price span{
text-decoration:line-through ; /* üstünü çizmek için  */
font-size: 1.5rem;
font-weight: 300;
}








/* menü end */
/*  start */
/*  end */