/* genel alan ve body başlangıç */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* background-color: white; */
  font-family:Arial, Helvetica, sans-serif;
}

/* genel alan ve body bitiş */

/* header başlangıç */
header {
  /* border: solid 3px red; */
  /* background-color: rgba(255, 0, 0, 0.277); */
  display: flex;
  padding-left: 200px;
}

#logo1 {
  width: 120px;
  height: 50px;
  border: 1px solid white;
  border-radius: 5%;
}
.menu1 {
  display: inline-block;
}
#menu11 {
  width: 150px;
  height: 50px;
  border: none;
}
.menu2 {
    display: inline-block;
}
#menu22 {
    width: 150px;
    height: 50px;
    border: none;
}

/* header bitiş */

/* main başlangıç */
main {
  /* border: solid 3px blue; */
  /* background-color: rgba(0, 0, 255, 0.288); */
}
.container{
    display: flex;
    padding-left: 200px;
    padding-right: 200px;
}
#boxleft, #boxright{
    width: 800px;
    height: 600px;
}
.yazilar1{
    color: white;
    margin-top: -150px;
    text-align: center;
}
#kesfet1{
    width: 350px;
    height: 40px;
    border-radius: 20px;
    background-color: #0077da;;
    color: white;
    border: none;
    margin-top: 20px;
    cursor: pointer;
}
.uyelik a{
    color: white;
}
/* main bitiş */

/* article başlangıç */
article {
  /* border: solid 3px greenyellow; */
  /* background-color: rgba(255, 255, 0, 0.215); */
  color:black;
}

.yazilar2{
    text-align: left;
    padding-left: 400px;
    /* font-size: 30px; */
    width: 1200px;
}
.yazilar2 ul{
    line-height: 25px;
    list-style-type: circle;
}
/* article bitiş */

/* footer başlangıç */
footer {
  /* border: solid 3px black; */
  /* background-color: rgba(0, 0, 0, 0.72); */
}
.alt{
    background-color: rgb(3, 12, 64);
    width: 1600px;
    margin-left: 200px;
    text-align: center;
}
#enaltresim{
    width:400px;
    height: 250px;
    margin-right: 200px;

}
.uyeol p{
    color: white;
}
#üyeol1{
    width: 450px;
    height: 40px;
    border-radius: 20px;
    background-color:#0077da;;
    color: white;
    border: none;
    margin-top: 20px;
    cursor: pointer;
    margin-bottom: 20px;
}
.sosyal p{
    color: black;
    text-align: center;
    margin: 30px;
    font-size: larger;
}
.baglantılar a{
    color: black;
    word-spacing: 10px;
}
.baglantılar p{
    text-align: center;
    margin-bottom: 20px;
    word-spacing: 15px;
}

#siteharitası, #gizlilik, #kişiye, #hakkımızda, #thewalt, #kullanma {
  word-spacing: 1px;
}

/* footer bitiş */
