@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');

body{
    font-family: 'Cabin Sketch', cursive;
}

.nav{
    display: inline-block;
    float: right;
    margin-top: 2rem;
    margin-right: 3rem;
    font-size: 1.5rem;
}

.nav a{
    color: white;
}

#image1{
    width: 6rem;
    margin-left: 2rem;
    margin-top: 1.85rem;
}

#image2{
    width: 4rem;
    float: right;
    margin: 0.3rem;
}

.header{
    background-color: rgb(116, 195, 178);
    height: 5rem;
    border-bottom: 8px solid orange;
}