* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  display: grid;
  grid-template-columns: repeat(4, 120px);
  grid-auto-rows: 20vh 50vh 80vh 20vh;
  gap: 20px;
  justify-content: center;
  margin: 20px;
  grid-template-areas:
    "header header header header"
    "a b c d"
    "e e e d"
    "f f f f";
}

.content {
  background-color: #4169e1;
  color: white;
  padding: 8px;
  font-family: Arial, Helvetica, sans-serif;
}

.header {
  grid-area: header;
}

.box1 {
  grid-area: a;
}

.box2 {
    /* grid-area: b; */
    /* yazmasamda kapladığı alana oturuyor */
}

.box3 {
    /* hiçbirşey yazmadan da oturuyor */
}

.sidebar {
  grid-area: d;
}

.main {
  grid-area: e;
}

.footer {
  grid-area: f;
}
